.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
}

.checkbox-label {
    font: 14px/16px Arial, sans-serif;
}

.checkbox-label.disabled {
    color: var(--disabled);
}
